<div *ngIf="noteDetails">
  <h2>{{noteDetails.name | uppercase}} Details</h2>
<div><span>id: </span>{{noteDetails.id}}</div>
  <div>
    <label for="note-name">Note Name: </label>
    <input id="note-name" [(ngModel)]="noteDetails.name" placeholder="name">
  </div>
  <div>
    <label for="note-message">Note Message: </label>
    <input id="note-message" [(ngModel)]="noteDetails.message" placeholder="message">
  </div>
<button type="button" [class.selected]="note === selectedNote" (click)="updateNote(noteDetails.id, noteDetails)">Update Note</button>
</div>
