<section class="note-section">
  <form class="filter-form">
    <input type="text" placeholder="Filter by name">
    <button class="primary" type="button">Search</button>
  </form>
  <h2>My Notes</h2>
  <div class="card-container">
    <div *ngFor="let note of notes" class="note-card">
      <button [class.selected]="note === selectedNote" type="button" (click)="onSelect(note)">
        <div class="card-content">
          <span class="card-id">{{note.id}}</span>
          <h3 class="card-name">{{note.name}}</h3>
          <p class="card-message">{{note.message}}</p>
        </div>
      </button>
      <button class="btn btn-lg btn-danger btn-block" type="submit"  [class.selected]="note === selectedNote"  (click)="onDelete(note.id)">Delete Note</button>

    </div>
  </div>
  <app-note-details [noteDetails]="selectedNote"></app-note-details>
</section>
