
<section>
  <form>
    <input type="text" placeholder="Filter by name">
<button class="primary" type="button">Search</button>
  </form>
  <h2>My Notes</h2>
  <ul class="notes">
    <li *ngFor="let note of notes">
      <button [class.selected]="note === selectedNote" type="button" (click)="onSelect(note)">
        <span class="id">{{note.id}}</span>&nbsp;
        <span class="name">{{note.name}}</span>&nbsp;
        <span class="message">{{note.message}}</span>
      </button>
    </li>
  </ul>
  <app-note-details [noteDetails]="selectedNote"></app-note-details>
</section>

